nav {
  border-bottom: 1px solid #ccc;
}
nav ul {
  display: table;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  text-align: center;
}
nav ul li {
  display: table-cell;
  min-width: 50px;
  width: 100px;
  border-right: 1px solid #ccc;
}
@media screen and (min-width: 480px) {
  nav ul li {
    font-size: 1.5rem;
  }
}
nav ul li:first-child {
  border-left: 1px solid #ccc;
}
nav ul li a {
  display: block;
  width: 100%;
  padding: 10px 0;
  text-decoration: none;
  color: #aaa;
}
nav ul li a:hover {
  background-color: #f8e750;
  border-bottom: 5px solid #f8e750;
}
nav ul li.main {
  font-weight: 700;
}
nav ul li.main a {
  border-bottom: 5px solid #00b0f0;
  color: #00b0f0;
}
.table1 {
  width: 90%;
  margin: 0 auto;
  font-size: 12px;
  border-collapse: collapse;
  border: 2px solid #1d1717;
}
@media screen and (min-width: 480px) {
  .table1 {
    width: 60%;
    font-size: 24px;
  }
}
h1 {
  position: relative;
  color: #6eb0f9;
  line-height: 1.4;
  -webkit-box-reflect: below -10px -webkit-linear-gradient(
      top,
      transparent,
      transparent 10%,
      rgba(0, 0, 0, 0.6)
    );
  margin: 30px 0;
  font-size: 24px;
}
.pagelink {
  text-align: left;
  margin: 10px 0;
  font-size: 10px;
}
.detailbody {
  height: 38em;
  display: block;
  overflow-y: scroll;
}
tr {
  width: 100%;
}
thead,
tr {
  display: table;
  table-layout: fixed;
}
thead {
  background-color: #c8d3d2;
}
@media screen and (min-width: 480px) {
  h1 {
    font-size: 36px;
  }
  .pagelink {
    font-size: 14px;
  }
  thead {
    width: calc(100% - 1rem);
  }
}
.filterkeyword {
  margin: 0 auto;
}
