.box27 {
  position: relative;
  margin: 3rem auto;
  padding: 20px;
  border: 3px solid #f84c4c;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  height: 9rem;
}
@media screen and (min-width: 480px) {
  .box27 {
    margin: 5rem auto;
    height: 16rem;
  }
}
.box27 .box-title {
  position: absolute;
  display: inline-block;
  top: -27px;
  left: -3px;
  padding: 0 9px;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  background: #f84c4c;
  color: #fff;
  font-weight: 700;
  border-radius: 5px 5px 0 0;
}
@media screen and (min-width: 480px) {
  .box27 .box-title {
    font-size: 2rem;
    top: -45px;
    padding: 9px;
  }
}
.tab-label {
  color: #fff;
  background: #d3d3d3;
  margin: 0 0;
  padding: 3px 10px;
  order: -1;
  font-size: 12px;
  height: 1.3rem;
}
@media screen and (min-width: 480px) {
  .tab-label {
    font-size: 24px;
    margin: 0 auto;
    height: 2rem;
  }
}
.text {
  width: 100%;
  display: none;
  color: #000;
  font-size: 25px;
  font-family: MS sans-serif;
  margin-top: 1em;
}
.ueo {
  font-size: 0.8rem;
}
@media screen and (min-width: 480px) {
  .text {
    font-size: 40px;
  }
  .ueo {
    font-size: 1rem;
  }
}
.tab-switch:checked + .tab-label {
  background: #00bfff;
}
.tab-switch:checked + .tab-label + .text {
  display: block;
}
.aiu,
.tab-switch {
  display: none;
}
.aiu {
  margin: 0 0 0 auto;
}
.tab-switch:checked + .tab-label + .text + .aiu {
  display: block;
}
.flex[data-v-e86e5192] {
  width: 100%;
  margin: 0;
}
.box[data-v-e86e5192] {
  width: 60%;
  margin: 10% auto;
}
@media screen and (min-width: 480px) {
  .box[data-v-e86e5192] {
    font-size: 50%;
    margin: 5% auto;
  }
}
h1[data-v-e86e5192] {
  position: relative;
  color: #6eb0f9;
  line-height: 1.4;
  -webkit-box-reflect: below -10px -webkit-linear-gradient(
      top,
      transparent,
      transparent 10%,
      rgba(0, 0, 0, 0.6)
    );
  margin: 30px 0;
  font-size: 24px;
}
@media screen and (min-width: 480px) {
  h1[data-v-e86e5192] {
    font-size: 36px;
  }
}
.loader[data-v-e86e5192] {
  color: #6eb0f9;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4-e86e5192 1.3s linear infinite;
  animation: load4-e86e5192 1.3s linear infinite;
  transform: translateZ(0);
}
@-webkit-keyframes load4-e86e5192 {
  0%,
  to {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 0, 2em 2em 0 0.2em,
      0 3em 0 0, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4-e86e5192 {
  0%,
  to {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 0, 2em 2em 0 0.2em,
      0 3em 0 0, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0 0 0, -2em -2em 0 0.2em;
  }
}
.box27[data-v-e86e5192] {
  position: relative;
  margin: 1rem auto;
  padding: 20px;
  border: 3px solid #f84c4c;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 480px) {
  .box27[data-v-e86e5192] {
    margin: 3rem auto;
  }
}
.box27 .box-title[data-v-e86e5192] {
  position: absolute;
  display: inline-block;
  top: -27px;
  left: -3px;
  padding: 0 9px;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  background: #f84c4c;
  color: #fff;
  font-weight: 700;
  border-radius: 5px 5px 0 0;
}
@media screen and (min-width: 480px) {
  .box27 .box-title[data-v-e86e5192] {
    font-size: 2rem;
    top: -45px;
    padding: 9px;
  }
}
.tab-label[data-v-e86e5192] {
  color: #fff;
  background: #d3d3d3;
  margin: 0 0;
  padding: 3px 10px;
  order: -1;
  font-size: 12px;
}
@media screen and (min-width: 480px) {
  .tab-label[data-v-e86e5192] {
    font-size: 24px;
    margin: 0 auto;
  }
}
.text[data-v-e86e5192] {
  width: 100%;
  display: none;
  color: #000;
  font-size: 25px;
  font-family: MS sans-serif;
  margin-top: 1em;
}
.ueo[data-v-e86e5192] {
  font-size: 0.8rem;
}
@media screen and (min-width: 480px) {
  .text[data-v-e86e5192] {
    font-size: 40px;
  }
  .ueo[data-v-e86e5192] {
    font-size: 1rem;
  }
}
.tab-switch:checked + .tab-label[data-v-e86e5192] {
  background: #00bfff;
}
.tab-switch:checked + .tab-label + .text[data-v-e86e5192] {
  display: block;
}
.tab-switch[data-v-e86e5192] {
  display: none;
}
